<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Pratical Test</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />    
  </head>
 <body>

    <div class="container">
        
    		<div class="page-header"><h1>Palladium Test</h1></div>
    		
    		<div th:if="${success!=''}" >
     			<div class="alert alert-success alert-dismissible" role="alert">
     				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     				<span th:utext="${success}"></span>
     			</div>     			
     		</div>
     		
     		<div th:if="${error!=''}" >
     			<div class="alert alert-danger alert-dismissible" role="alert">
     				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     				<span th:utext="${error}"></span>
     			</div>     			
     		</div>
			
			
			
			<div class="row">
				<div >
				
					<form class="form-horizontal" action="#" 
							th:action="@{/valid}" 
							th:object="${employee}" method="post">
							
							<input type="hidden" th:field="*{employeeNo}" />
										
					<div class="form-group">
						<label for="role" class="col-sm-2 col-xs-2 control-label">First Name</label>
					    <div class="col-sm-5 col-xs-10">
					      <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="First Name" required="required"></input>
					    </div>
					    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></p>
					</div>
					<div class="form-group">
						<label for="role" class="col-sm-2 col-xs-2 control-label">Last Name</label>
					     <div class="col-sm-5 col-xs-10">
					      <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Last Name" required="required"></input>
					    </div>
					    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></p>
					</div>
					
					
					
					
					<div class="form-group">
					    <label for="role" class="col-sm-2 col-xs-2 control-label">Designation</label>
					    <div class="col-sm-5 col-xs-10">
					     	<select th:field="*{designation}" class="form-control">
							  <option th:each="d : ${designations}" 
							          th:value="${d.id}" 
							          th:text="${d.label}"></option>
							</select>
					    </div>
					    <p th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}" class="text-danger" required="required"></p>
					</div>
					
					<div class="form-group">
					    <label for="role" class="col-sm-2 col-xs-2 control-label">Department</label>
					    <div class="col-sm-5 col-xs-10">
					     	<select th:field="*{department}" class="form-control">
							  <option th:each="d : ${departments}" 
							          th:value="${d.id}" 
							          th:text="${d.label}"></option>
							</select>
					    </div>
					    <p th:if="${#fields.hasErrors('department')}" th:errors="*{department}" class="text-danger" required="required"></p>
					</div>
					
					
					<div class="form-group">
						 <label for="role" class="col-sm-2 col-xs-2 control-label">Other Department</label>
					    <div class="col-sm-5 col-xs-10">
					      <input type="text" th:field="*{otherDepartement}" class="form-control" id="lastName" placeholder="Other departement" ></input>
					    </div>
					    <p th:if="${#fields.hasErrors('otherDepartement')}" th:errors="*{otherDepartement}" class="text-danger"></p>
					</div> 
					<input type="submit" value="Valid" class="btn btn-success pull-right" />				
				</form>
					
				</div>
			</div>
			
			<br />
		
			
		 <h3 class="page-header">Employees</h3>
			
			<div class="row">
					
				<table class="table table-bordered">
					<thead>
						<th>Employee No</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Designation</th>
						<th>Department</th>
						<th>Other Department</th>
						<th>Action</th>
					</thead>
					<tbody>
						<tr th:each="item : ${employees}">
	    					
	     					<td th:text="${item.employeeNo}" />
	     					<td th:text="${item.firstName}"></td>
	     					<td th:text="${item.lastName}"></td>
	     					<td th:text="${item.designation}"></td>
	     					<td th:text="${item.department}"></td>
	     					<td th:text="${item.otherDepartement}"></td>
	     					<td><a th:href="@{/(employeeNo=${item.employeeNo})}">Edit Employee</a></td>
	     				</tr>
	    					
					</tbody>
				</table>						
			</div>
		<script th:src="@{/js/jquery.min.js}" type="text/javascript" ></script>
		<script th:src="@{/js/bootstrap.min.js}" type="text/javascript" ></script>
		
    </div>
  </body>
</html>
